* {
	margin:0;
	padding:0;
}
 
 
body {
	background:#000099;
}
.container{
padding: 0;
background: #FFFFFA;

}
.container2{
	width: 90%;
}

.logo{
  float: left;

}

.jumbotron{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	

}
 
 .navbar-default{
	width:auto;
	background:#000057!important;
}
 
.navbar-default .navbar-nav > li > a {
    color:white!important;
    font-size: 12px;
}
.navbar-default .navbar-nav > li > a:hover {
    color:green!important;
}

 
.navbar-default:hover {
	color:green!important;
}
.navbar-toggle{
	background:#000057!important;
}
.navbar-toggle:hover{
	opacity:0.6;
}

 
section {
	padding:20px;
}
 

.jumbotron{
	margin-bottom: 0!important;
}